
/* Edits scrolbar for firefox */
:root {
    scrollbar-color: var(--clr-la-coldblue) var(--clr-la-blue) !important;
    scrollbar-width: thin !important;
} 

/* Makes the scrollbar like on mac os for chrome */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--clr-background);
}

::-webkit-scrollbar-thumb {
    background: var(--clr-la-sand);
}

